html {
  box-sizing: border-box;
  /* esto equivale a que 1rem vale a 10px */
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    /* manera de cambiar la fuente del sitio web */
     font-family: "Raleway", sans-serif;
     font-size: 1.6rem;
     /* interlineado del texto en los parrafos */
     line-height: 2;

     
}

/**variables globales en css**/

h1, h2 ,h3{
    font-family: "Playfair Display", serif;
    /* para eliminar los margenes de nuestros headings */
    margin: 0 0 5rem 0;
}
 
/**colores en css*/
/* 
h2{
    color: #0000;
    font-family: 'Courier New', Courier, monospace;
} */

/**selectores en CSS para elegir en especifico*/
/* h1 span{
    color: bisque;
    text-transform: uppercase;
} */

/* nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
} */

/**Mientras mas especifico sea nuestro selector mas se le toma en cuenta**/

/**Especificidad por etiquetas son las ultimas en especifidad**/
/* nav a{
    text-transform: uppercase;
} */

/**classs este selector es mas especifico que el anterior*/
/* .navegacion a{
    color: blue;
    text-transform: lowercase;
} */

/**Id es el de mayor valor en cuanto especificidad**/
/* #navegacion a{
    text-transform: capitalize;
} */



/**SELECTORES GLOBALES***/
a{
    text-decoration: none;
    color: black;
}

img{
    /* para que la imagen se adapte al contenedor disponible */
    max-width: 100%;
    display: block;
    border-radius: 1rem;
}
/*  Establecemos los tamanos de nuestros*/
 h1{
    font-size: 5rem;
 }

 h2{
    font-size: 4rem;
 }

 h3{
 font-size: 3rem;
 }

.btn{
  background-color: #8cbc00;
    /* toma todo el ancho disponible */
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color .3s ease;
    text-align: center;
    border: none;
    
}
/* para que el boton mida maximo 30 pixeles */
.max-width-30{
    max-width: 30rem;
}

.btn:hover{
    background-color: #769c02;
    color: black;
    /* para poner la mano en el boton */
    cursor: pointer;
}
 /* UTILIDADES */

 .text-center{
    text-align: center;
 }

/** HEADER Y NAVEGACION*/

.nombre-sitio{
    /*Acomoda el texto a la izquierda derecha o centro por default es a la derecha**/
    text-align: center;
    padding: 2.5rem;
}

.nombre-sitio span{
    color: #037bc0;
    text-transform: uppercase;
}

.nav-principal{
    /* color: #e1e1e1; */
    /**Agrega un border de tipo solido arriba del elemento*/
    /* border-top-style: solid;
    border-width: 1px; */

   
    /**FORMA DE PONER EL PADDING EMPEZANDO CON EL TOP*/
    padding: 2rem 0;
    
    /**HABILITAMOS FLEX BOX***/
    /**CUANDO SE HABILITA FLEX ROW SE PONE AUTOMATICAMENTE*/
    display: flex;
    /**NOS SIRVE CUANDO ES ROW Y ACOMODA HORIZONTALMENTE*/
    justify-content: space-between;
    /**ALIGN ITEMS SE USA CUANDO ESTA EN COLUMNS**/
    /* flex-direction: column;
    align-items: center; */
    
}

.nav-principal a:hover{
    background-color: #037bc0;
    max-width: 100%;
    border-radius: 1rem;
    padding: .2rem;
}


/**MANERA DE AGREGAR UNA IMAGEN CON CSS*/
.hero{
    /**asi agregamos la imagen con css*/
    background-image: url(../images/principal.jpg);
    height: 55rem;
    /**para que no se repita la imagen de fondo*/
    background-repeat: no-repeat;
    /**para que la imagen se expanda en todo el espacio disponible*/
    background-size: cover;
    /* para mover de posicion una imagen con nuestro css */
    background-position: center;
}


/**Box model todo en css son cajas y dependen de
Contenido, Paddin, Borde y Margen
**/
.sobre-nosotros{
    /* es un dregadado lineal */
    background-image: linear-gradient(to right , transparent 50%, #037bc0 50%, #037bc0 100%),url(../images/nosotros.jpg);
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100% , 120rem;
    background-position: left center;
    margin-top: 5rem;
}
/* manera de hacerlo con display grid */
/* para crear 2 columnas y separar el texto */
/* .sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8rem;
} */

/* manera de posicionar en una columna los textos */
/* .texto-nosotros{
    grid-column: 2 /3;

} */

/* manera de hacerlo con flexbox */


.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.texto-nosotros{
    flex-basis: 50%;
    padding-left: 10rem;
    color: #FFFFFF;
}
/**PERMITE CENTRAR EL CONTENIDO DE NUESTRA PAGINA WEB*/
.contenedor{
    max-width: 120rem;
    /**para centrar un elemento*/
    margin: 0 auto;
}


 /* NAVEGACION */
.contenedor-navegacion{
     /**FORMA DE PONER EL BORDE MAS OPTIMIZADO***/    
    border: 1px solid #e1e1e1;
}



/****CATEGORIAS*/
.listado-categorias{
    
    /* utilizamos css grid para crear columnas o filas mucho mas facil que con display flex */
    display: grid;
    /* crea 3 columnas de 200 pixeles con repeat */
    grid-template-columns: repeat(3, 1fr);
    /* para crear una separacion entre los elementos */
    gap: 2rem;
}

.categorias{
    padding-top: 5rem;
}



.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    

}
/* hover para que se de un efecto cuando se le pas */
.categoria a:hover{
    background-color: #037bc0;
    color: #FFFFFF;
    /* para darle esquinas redondeadas  */
    border-bottom-right-radius: 1rem;
}


/* PRODUCTOS */
.contenido-principal{
    padding-top: 5rem;
}

.producto{
    background-color: #037bc0;
    border-radius: 1rem;
}
 
.info-producto{
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

.info-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.info-producto h3{
    /* para eliminar los margin de abajo */
    margin: 0;
}
/* creamos el grid de las columnas  */
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;

}
/* para posicionar el primer producto */
.producto:nth-child(1){
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/*aplicando object fit ala imagen del primer producto  */
.producto:nth-child(1) img{
    height: 43rem;
    width: 100%;
    /*para que se posicione la imagen bien en el contenedor  */
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column: 1 /4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img
{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3){
    grid-column: 4 /7;
}

.producto:nth-child(4){
    grid-column: 1/3;
}

.producto:nth-child(5){
    grid-column: 3/5;
}

.producto:nth-child(6){
    grid-column: 5/7;
}
/* FOOTER */
.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding: 5rem;
}

.site-footer h3{
    margin-bottom: .5rem;
    text-align: center;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.enlaces a{
    display: block;
    text-align: center;

}


.enlaces a:hover{
    color: #e1e1e1;
}

.copyrigth{
    font-weight: 900;
    margin-top: 2rem;
    
}

/* NOSOTROS */

.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* si el contenidio mide mas de 25px le aplica un fr */
    grid-template-columns: repeat(auto-fit,minmax(25rem , 1fr));
    gap: 4rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    /* para alinear de arriba hacia abajo */
    justify-content: center;
}

/* BLOG */
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

/* para desaparecer el border en bottom */
.entrada:last-of-type{
    border: none;
}

.entrada-meta{
    display: flex;
    justify-content: space-between;
}

.entrada-meta p{
    font-weight: 900;
}

.entrada-meta span{
    color: #037bc0;
}

.blog h2{
    text-align: center;
}

.contenido-entrada-blog{
    width: 60rem;
    /* para centrar el articulo */
    margin: 0 auto;
}

/* GALERIA */
.galeria{
    /* para remover el punto */
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;

}

.galeria img {
    /* para que se ajuste la imagen al contenedor */
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

/* FORMULARIO */
.formulario{
    
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset{
    border-color: black;
    border-width: 1px;
    margin-bottom: 2rem;
}

.formulario legend{
    background-color: #005485;
    width: 100%;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    border-radius: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 4rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    /* para alinear exactamente con 10pixeles nuestros inputs con los labels */
    flex-basis: 10rem;
    
}
/* selecciona todos los radios menos el input tipo radio */
.campo input:not([type="radio"]),textarea,select
{
    /* toma el resto del espacio del input  */
    flex: 1;
    border-radius: 1rem;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}